# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Coverage
coverage/

# Misc
*.swp
*.swo

# Backend
backend/node_modules/
backend/.env
backend/.DS_Store

# Frontend
frontend/node_modules/
frontend/.env
frontend/.DS_Store
